<h2 class="text-center">Public Recipes</h2>
<div class="container-fluid recipe-foods margin-bottom">
<% @public_recipes.each do |recipe| %>
<div class="card">
    <div class="d-flex justify-content-around">
        <div class="p-2">
            <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
            <h5>By: <%= recipe.user.name%>
        </div>
        <div class="d-flex flex-column align-self-center p-2">
            Total Food Items: <%= recipe.foods.count %>
            <br>
            Total Price: $<%= recipe.total_price %>
        </div>    
    </div>
    <div class="d-flex justify-content-around p-2 ">
    <% if recipe.user == current_user %>
    <%= link_to 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>

</div>   
<% end %>
</div>