<div class="container-fluid p-2">
  <div class="card">
    <h3 class="card-title text-center"><%= @recipe.name %></h3>
    <div class="card-body">
      <span class="text-start">Preparation time:<%= @recipe.preparation_time %> hours</span>
     <% if can? :manage, @recipe %>
      <div class="form-check form-switch">
        <label class="form-check-label" for="publicToggle">Public</label>
        <input class="form-check-input" type="checkbox" id="publicToggle" name="recipe[public]" <%= @recipe.public ? 'checked' : '' %>>
      </div>
       <% end %>

      <span class="text-start">Cooking time: <%= @recipe.cooking_time %> hours</span>
      <span class="text-start d-flex flex-direction-column"><%= @recipe.description %></span>
      <div class="d-flex justify-content-around p-2 border-bottom">
        <div>
        <%= link_to 'Generate Shopping List', general_shoping_list_path,  class: 'btn btn-success'  %>
        </div>

       <%= link_to 'Add Ingredient', new_recipe_food_path(recipe_id: @recipe.id), class: 'btn btn-success' %>
      
      </div>
    </div>
  </div>
</div>

<%= render 'recipe_foods/recipe_food', recipe: @recipe %>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>
  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
