<!DOCTYPE html>
<html>
  <head>
    <title>Recipedaily</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body>
    
    <!-- Header Section -->
    <header>
     <%= render 'shared/header' %>
    </header>

    <!-- Flash Messages Section -->
    <div class="container mt-3">
      <%= render 'shared/flash_messages' %>
    </div>

   <!-- Content Section -->
    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
